[Unit]
Description=Fail2ban Service
After=syslog.target network.target

[Service]
Type=forking
ExecStart=/app/local/usr/bin/fail2ban-client -x start
ExecStop=/app/local/usr/bin/fail2ban-client stop
ExecReload=/app/local/usr/bin/fail2ban-client reload
PIDFile=/app/local/var/run/fail2ban/fail2ban.pid
Restart=always

[Install]
WantedBy=multi-user.target
